@font-face {
    font-family: 'medium';
    src: url(../fonts/BeaufortforLOL-Medium.ttf);
}

@font-face {
    font-family: 'bold';
    src: url(../fonts/BeaufortforLOL-Bold.ttf);
}

@keyframes nomeCampeão {
    0% {
        opacity: 0;
        transform: translateY(-80px);
        scale: 80%;
    }
    100%{
        opacity: 100;
        transform: translateY(0px);
    }
}

@keyframes resumoCampeão {
    0% {
        opacity: 0;
        scale: 80%;
    }
    100% {
        opacity: 100;
    }
}

@keyframes skins {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

#bodyIvern {
    background-image: linear-gradient(to bottom, rgba(16, 123, 4, 0.751), rgb(220, 220, 220)); 
    background-color: black;
}

#bodySkarner {
    background-image: linear-gradient(to bottom, rgba(109, 34, 109, 0.751), rgb(220, 220, 220)); 
    background-color: black;
}

#bodyWarwick {
    background-image: linear-gradient(to bottom, rgba(16, 123, 4, 0.751), rgb(220, 220, 220)); 
    background-color: black;
}

.navbar {
    font-family: 'medium';
    font-size: 16pt;
}

#t1 {
    color: rgb(57, 113, 255);
    font-family: 'bold';
    font-size: 18pt;
}

#t2 {
    color: rgb(255, 124, 124);
    font-family: 'bold';
    font-size: 18pt;
}

.container {
    margin-top: 150px;
}

.container > h1,h2 {
    text-align: center;
}

.container > h1 {
    font-size: 24pt;
    font-family: 'medium';
    color: rgba(255, 255, 255, 0.8);

    animation-name: nomeCampeão;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

.container > h2 {
    font-size: 60pt;
    font-family: 'bold';
    margin-top: -20px;
    color: rgba(255, 255, 255, 0.8);

    animation-name: nomeCampeão;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

.container > p {
    color: rgba(255, 255, 255, 0.8);
    text-align: justify;
    font-family: 'medium';
    font-size: 16pt;

    animation-name: resumoCampeão;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

.carousel-inner {
    border-radius: 50px;
    box-shadow: 6px 8px 6px 8px rgba(0, 0, 0, 0.6);

    animation-name: skins;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

.carousel-caption > h5 {
    font-family: 'bold';
    font-size: 18pt;
    text-shadow:               
    1px 1px 1px rgba(0, 0, 0, 0.640), 
    1px 1px 1px rgba(0, 0, 0, 0.640),                    
    1px 1px 3px rgba(0, 0, 0, 0.640),                  
    1px 1px 3px rgba(0, 0, 0, 0.640);
}

.carousel-caption > h6 {
    font-size: 18pt;
    font-family: 'bold';
    text-shadow:               
    3px 3px 3px black, 
    3px 3px 3px black,                    
    3px 3px 3px black,                  
    3px 3px 3px black;
}

.carousel-caption > h6 > img {
    width: 40px;
    height: 40px;
}

.accordion-button {
    font-family: 'bold';
    font-size: 16pt;
    background-color: rgba(82, 185, 89, 0.1);
}

.accordion-button > img {
    margin-right: 10px;
    border-radius: 10px;
}

.accordion-button:not(.collapsed) {
    background-color: rgba(82, 185, 89, 0.1);
}

.accordion-body {
    font-family: 'medium';
    font-size: 14pt;
    background-color: rgba(82, 185, 89, 0.1);
}

.videoHabilidade {
    padding-bottom: 40%;
    position: relative;
}

.videoHabilidade > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer {
    height: 100px;
}